body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: roboto, sans-serif;
  text-transform: uppercase;
  color: #666;
}

button {
  width: 10rem;
  height: 3rem;

  background-color: #ee3769;

  border: none;
  border-radius: 0.5rem;

  margin-left: 1rem;

  cursor: pointer;
  transition: all 1s ease;

  animation-name: shake-shake;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

button:hover {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background-color: #666;

  transition: all 1s cubic-bezier(0.29, 1.01, 1, -0.68);
}

@keyframes shake-shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}
