body {
  font-family: "roboto", sans-serif;
}

main {
  width: 100vw;
  height: calc(100vh - 5rem);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calc {
  width: 274px;
}

.calc .result {
  border-radius: 0.5rem;

  background-color: #1c191c;
}

.calc .result input {
  width: 100%;
  height: 100%;

  text-align: right;
  color: #fff;
  font-size: 3rem;
  padding: 0.2rem;

  outline: none;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.ac .keyboard-btn {
  border-radius: 0.5rem;
  background-color: #ffff00;
  width: 100%;
}
.ac .keyboard-btn:hover {
  background-color: #ffd700;
}
.zero .keyboard-btn {
  width: 100%;
}

.keyboard-operator {
  background-color: #a9a9a9;
  border-radius: 0.5rem;

  border: none;
  width: 4rem;
  height: 4rem;

  font-size: 2rem;
}
.keyboard-operator:hover {
  background-color: #808080;
}

.keyboard-btn {
  background-color: #dcdcdc;

  border-radius: 0.5rem;

  border: none;
  width: 4rem;
  height: 4rem;

  font-size: 2rem;
}
.keyboard-btn:hover {
  background-color: #a9a9a9;
}
